.cabecalho {
padding: 15px 25px;
}

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;

}body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
} 
main { 
  flex: 1; 
} 
.cabecalho { 
  background-color: #7e3e1c; 
  padding: 15px 25px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 

} .cabecalho-link { 
  color: #fff; 
  text-decoration: none; 
} 
h1 { 
  color: #fff; 
  font-size: 24px; 
} 
body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #f5f2f2; 
} 
footer { 
  background-color: #7e3e1c; 
  padding: 15px 25px; 
  color: #fff; 
} 